snippet include_guard
#ifndef ${1:Identifier}
#define $1
$0
#endif
endsnippet

snippet license "license header"
/**
 * author: Aufar Gilbran
 * date: `date +%Y-%m-%d`
 * license: CC0
 * type: $1
 * status: ${4:untested}
 * time: $2
 * space: $3
 */
endsnippet
